       h1{
            color: red;
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;     
        }
        head{
            color: red;
            font-size: 20px;
            font-family: "Times New Roman", Times, serif;
            
        }
   